.venv
venv
__pycache__
*.pyc
*.log
*.csv
*.parquet
*.json
terraform.tfvars
*.tfstate
*.tfstate.backup
*.tfstate.backup.*
*.tfplan
.terraform
.terraform.lock.hcl
*.info
.ssh
.env
variables.json
auth.json
authorized_key.json
driveroutput.*
config
history.txt
buf
data/input_data/*.txt
